.suggested-workouts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #14213d;
  color: white;
}

.suggested-workouts-container {
  width: 90%;
  height: 90%;
  background-color: lightblue;
  border-radius: 1em;
}

.suggested-gif {
  height: 20%;
  width: 20%;
}