.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.exercise-img {
  width: 85%;
  border-radius: 50%;
  margin: 0.5em;
}

.exercises-workout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.exercise {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border-radius: 0.5em;
  margin: 0.5em;
  background-color: #3f5a91;
  color: white;
}

.exercise-text {
  font-size: 1.5em;
}

.set-form {
  margin: 0.5em;
}

.add-set {
  font-size: 1.5em;
  color: #ffa02f;
}

.add-set-button {
  margin: 0.5em;
}

.rep-input,
.weight-input {
  margin: 0.2em;
}

.all-sets {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}

.set-info,
.previous-interval-reps,
.set-columns  {
display: flex;
flex-direction: column;
margin: 0;
}

.set-info, 
.previous-interval-reps, 
.prev-current-sets {
  font-size: 1.5em;
}
/*-----------breakpoints------------*/

@media screen and (max-width: 500px) {
  .exercise {
    width: 85vw;
    flex-direction: column;
    font-size: 1em;
  }

  .exercise-text {
    margin: 0;
    width: 100%;
    font-size: 2em;
  }

  .exercise-img {
    width: 95%;
  }

  .set-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-set-button {
    font-size: 2em;
    width: 10vw;
  }

  .add-set {
    margin: 0;
  }

  .set-info, 
  .previous-interval-reps, 
  .prev-current-sets {
    font-size: 1.3em;
  }

  .all-sets {
    width: 85vw;
    justify-content: space-around;
  }
}
