.header-create-workout {
  display: flex;
  flex-direction: row;
  position: top fixed;
  width: 100%;
}

.back-to-dashboard {
  width: 33%;
}

.back-to-dashboard-button {
  background-color: #3f5a91;
  color: white;
  border: none;
  font-size: 1.5em;
  border-radius: 0.5em;
  padding: 3;
  cursor: pointer;
  outline: inherit;
}

.page-title {
  width: 33%;
}

input {
  font-size: 1.2em;
}

.spacer {
  width: 33%;
}

.create-workout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #14213d;
}

.add-workout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled {
  background-color: gray;
  color: #14213d;
  margin-top: 0.2em;
  border: 0;
  border-radius: 0.5em;
}

.add-workout-button {
  background-color: #ffa02f;
  color: #14213d;
  margin-top: 0.5em;
  border: 0;
  border-radius: 0.5em;
  font-size: 1.3em;
}

.add-workout-button:hover {
  cursor: pointer;
}

.disabled {
  margin-top: 0.5em;
  background-color: gray;
  color: #14213d;
  border: 0;
  border-radius: 0.5em;
}

.page-title {
  color: white;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 60%;
  border-radius: 1em;
  overflow: scroll;
  margin-bottom: 0.5em;
}

.begin-text {
  color: #ffa02f;
  font-size: 1.5em;
  margin-top: 0;
}
