.exercise-cards-section {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5px;
}

.category-img {
    width:50%;
}

.exercise-card {
    border: 1px solid #a90b0b;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}