.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #14213d;
  height: 100vh;
}

.welcome-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-button {
  background-color: #3f5a91;
  color: white;
  border: none;
  font-size: 1.5em;
  border-radius: 0.5em;
  padding: 3;
  cursor: pointer;
  outline: inherit;
  position: fixed;
  margin:15px;
  top: 0;
  left: 0
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffa12e;
  height: 25vh;
  width: 65vw;
  margin: 1em;
  /* font-size: 2em; */
  border-radius: 0.2em;
  color: #14213d;
  /* margin-top: 1em; */
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 15vh;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em 1.5em;
  width: 70vw;
  justify-items: center;
}

.dash-button {
  height: 20vh;
  width: 29.5vw;
  border-radius: 0.2em;
  font-size: 2.5em;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  color: #e5e5e5;
  background-color: #3f5a91;
}

.dash-button:hover {
  transform: scale(1.09);
}
