.workout {
  display: flex;
  flex-direction: column;
  width: 30vw;
  color: white;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 1em;
  padding: 0.5em;
  background-color: #3f5a91;
}

.workout-name {
  font-size: 2em;
}

.delete-button {
  border: none;
  background: none;
}

.start-workout-button {
  background-color: #14213d;
  border: none;
  color: #ffa02f;
  padding: 3;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.5em;
}
