.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
}

.login-button {
  font-size: 120%;
  border: none;
  background-color: #ffffff00;
  width: 8vw;
  margin-right: 3em;
}

.login-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5%;
  transition: 500ms;
}

.username-input, 
.password-input {
  width: 25vw;
  height: 3vh;
  font-size: 1.3em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgba(238, 238, 238, 0);
}

.no-outline:focus {
  outline: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
}