html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 100vh;
  background-image: url('../images/background-image.jpg');
  background-size: auto 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no repeat;
}

.title {
  margin: 0;
  bottom: 0;
  font-size: 9em;
  color: #ffa12e;
  font-family: 'Inter', sans-serif;
}
