@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Teko:wght@300;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 5em;
}

h2,
h3,
p,
input,
button {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
