.do-workout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #14213d;
}

.do-workout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 70%;
}
